*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family:arial, sans-serif;
    background-color:silver;
}
.container{
    display:block;
    vh:100%;
    vw:100%;
    background-color:white;
    text-align:center;
    max-width:500px;
    justify-content:center;
    align-items:center;
    font-size:2em;
    margin:auto;
    margin-top:20px;
    padding:20px 30px;
    border:none;
    border-radius:15px;

}
.val{
    font-size:3rem;
}
.btn{
    margin-top:20px;
    padding:13px 23px;
    border:none;
    font-size:20px;
    font-weight:bold;
    color:;brown;
}
.btn:hover{
    background-color:bluegreen;
    color:silver;
    border-radius:20px;
}
.btn:active{
    background-color:blue;
    color:white;

}
